.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #ff6699; 
    padding-top: 12rem;
    padding-bottom: 4rem;
    text-align: center;
}

.pagina__titulo {
    font-family: 'Comic Sans MS', cursive, sans-serif; /
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #00aaff; 
    text-shadow: 3px 3px 0 #ffcc00; 
}

.pagina__desc {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto 2.5rem;
    color: white;
    text-shadow: 2px 2px 0 #ffcc00; 
}

.pagina__boton {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    width: 200px;
    padding: 1rem;
    border: 3px solid #00aaff; 
    border-radius: 25px;
    background-color: #ffcc00; 
    color: #00aaff; 
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 4px 4px 0 #ff6699;
}

.pagina__boton:hover {
    background-color: #00aaff; 
    color: #ffcc00; 
    transform: scale(1.1); 
}
.nosotros__conteiner {
    display: flex;
    align-items: center;
}

.nosotros__contenido {
    flex: 1;
    padding-right: 20px;
} 

.nosotros__imagen {
    max-width: 200px;
    height: auto;
}

@media screen and (min-width: 750px) {
    .pagina {
        background-image: url('../img/port1.jpg');
        background-size: cover;
        padding-top: 10rem;
    }
}
