.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    background-color: #0e1a26; /* Fondo azul oscuro */
    padding-top: 10rem;
    padding-bottom: 2rem;
}

.pagina__titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #a8d1e7; /* Color celeste para el título */
}

.pagina__desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 auto 2.5rem;
    color: #ffffff; /* Color blanco para la descripción */
}

.pagina__boton {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 50%;
    padding: 1rem;
    border: 3px solid #a8d1e7; /* Borde celeste */
    border-radius: 0 50px;
    background-color: transparent;
    color: #a8d1e7; /* Texto celeste */
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagina__boton:hover {
    background-color: #a8d1e7; /* Fondo celeste al pasar el mouse */
    color: #0e1a26; /* Texto azul oscuro al pasar el mouse */
}

@media screen and (min-width: 750px) {
    .pagina {
        background-image: url('../img/port1.jpg');
        background-size: cover;
        padding-top: 8rem;
    }
}