@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --color-primaria: #000000;
    --color-secundaria: #66ac84;
    --color-terciaria: #7fd10d;
    --color-hover: #272727;

    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}
*{
    padding:0;
    margin: 0;
}
*body{
    box-sizing: border-box;
    background-color: var(--color-primaria);
    color:var(--color-secundaria);
}
.header{
    padding: 2% 0% 15% ;
}
.header_menu{
    display: flex;
}
.header_menu_link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    color:var(--color-secundaria);
    font-weight: 600;
    text-decoration: none;
}
.presentacion{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40%;
}
.presentacion__contenido_titulo{
    font-size:2rem;
    font-family: var(--fuente-krona);
}
.titulo-destaque{
    color:var(--color-terciaria)
}
.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family:var(--fuente-montserrat)
}
.presentacion_enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}
.presentacion__enlaces__link{
    display: flex;
    justify-content: center;
    gap: 15px;
    border: 2px solid var(--color-terciaria);
    width: 50%;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    color: var(--color-terciaria);
    font: size 1.5em;
    font-family: var(--color-krona);
    font-weight: 600;
    padding: 15px;
    width: 150;
    height: 150;
}
.presentacion_enlaces_link{
    background-color: var(--color-hover);

}

.presentacion_imagen{
    width: 50%;
}
.footer{
    color:var(--color-primaria);
    background-color:var(--color-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}
@media (max-width: 768px) {
    .presentacion {
        flex-direction: column-reverse;
        text-align: center;
        padding: 2rem;
    }

    .presentacion__imagen {
        max-width: 280px;
    }

    .presentacion_enlaces_link {
        display: flex;
        justify-content: center;
        margin: 0.5rem auto;
        width: 100%;
        max-width: 200px;
    }

    .header__menu {
        justify-content: center;
    }
}